*{
	font-family:Georgia, Arial;
	font-size:1rem;
}

.left{
	position:relative;
	display:inline-block;
	background-color:aliceblue;
	width:20%;
	overflow: auto;
	margin:1% 1% 1% 1%;
	border-radius:1%;
}

.leftheader{
	color:navy; /*this is navy blue */
	font-family:Georgia;
	margin-left:15%;
	margin-top:1.5%;
	font-weight:bold;
}

.topsection{
	position:relative;
	vertical-align: top;
	display:inline-block;
	width:76%;
	height:15%;
	margin-top:1%;
	margin-right:1%;
}

.textmiddleheader{
	color:navy; /*this is navy blue */
	margin-top:0.3rem;
	margin-left:29%;
	width:max-content;
	text-align:right;
	border-bottom:2px dotted;
	font-weight: bold;
	font-size:1.5rem;
}

.middleleft{
	width:27%;
	display:inline-block;
	text-align: right;
}

.middleright{
	width:65%;
	display:inline-block;
	vertical-align: top;
	margin-left:1%;
	border-left:1px solid;
	padding-left: 1%;
	color:grey;
	border-color:black;
}

.middlerightposition{
	font-weight:bold;
	color:black;
}

.middlerightlocation{
	font-style:italic;
	float:right;
	color:black;
}

.middlerightemployee{
	font-style: italic;
	color:black;
}

.middlerighttime{
	color:royalblue;
	float:right;
}

.middlerightdescriptionheadline{
	color:royalblue;
}

.leftlineunderheader{
	color:navy; /*this is navy blue */
	border-bottom:1px dotted;
	margin-left:10%;
	margin-right:10%;
	margin-top:-3%;
}

.lefttext{
	margin-left:10%;
}

.leftindenttext{
	margin-left:7%;
}

#superheader{
	color:#000080; /*this is navy blue */
	font-family:Georgia;
	font-weight:bold;
	font-size:3rem;
	text-align:center;
	line-height: 2rem;
}

#subheader{
	font-family:Georgia;
	font-weight:bold;
	font-size:2rem;
	text-align:center;
	line-height: 1rem;
}

.mainline{
	border-bottom:2px solid;
	margin-left:5%;
	margin-right:5%;
	margin-top:0%;
}

#CVpicture{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	width:80%;

}






.list {
    display:none; 
}
.show {
    display: none; 
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
}
.hide:target ~ .list {
    display:inline; 
}

/*style the (+) and (-) */
.hide, .show {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 2px #000;
    background: #cccbbb;
    opacity: .95;
    margin-right: 0;
    float: left;
    margin-bottom: 25px;
}

.hide:hover, .show:hover {
    color: #eee;
    text-shadow: 0 0 1px #666;
    text-decoration: none;
    box-shadow: 0 0 4px #222 inset;
    opacity: 1;
    margin-bottom: 25px;
}

