*{
	font-family:Georgia, Arial;
	box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


.col-3-left{
	float:left;
	background-color:aliceblue;
	width:25%;
	overflow: auto;
	border-radius:1%;
}

.leftheader{
	color:navy; /*this is navy blue */
	font-family:Georgia;
	margin-left:15%;
	margin-top:1.5%;
	font-weight:bold;
}

.col-9-topsection{
	float:left;
	width:75%;
}

	#superheader{
		color:#000080; /*this is navy blue */
		font-family:Georgia;
		font-weight:bold;
		font-size:3rem;
		text-align:center;
		margin-top:1rem;
		margin-bottom:1rem;
	}

	#subheader{
		font-family:Georgia;
		font-weight:bold;
		font-size:2rem;
		text-align:center;
		margin-bottom:1rem;
	}

	.mainline{
		border-bottom:0.15rem solid;
		margin-left:5%;
		margin-right:5%;
	}

.col-9-textmiddleheader{
	display:block;
	color:darkblue;
	margin-top:0.3rem;
 	text-align:left;
 	margin-left:25%;
 	margin-right:auto;
	font-weight: bold;
	font-size:2rem;
}

.col-3-middleleft{
	float:left;
	width:25%;
	display:inline-block;
	text-align: right;
	padding-right:1%;
	padding-left:0.5%;
}

.col-middleright{
	float:left;
	width:75%;
	display:inline-block;
	vertical-align: top;
	border-left:1px solid;
	padding-left: 1%;
	color:grey;
	border-color:black;
}

.clear{
	clear:both;
}

.col-middlerightposition{
	float:left;
	font-weight:bold;
	color:black;
}

.col-middlerightlocation{
	font-style:italic;
	float:right;
	color:black;
	padding-right: 3%;
}

.col-middlerightemployee{
	float:left;
	font-style: italic;
	color:black;
}

.col-middlerighttime{
	float:left;
	color:royalblue;
	float:right;
	padding-right: 3%;
}

.col-middlerightdescriptionheadline{
	float:left;
	color:royalblue;
}

.leftlineunderheader{
	color:navy; /*this is navy blue */
	border-bottom:1px dotted;
	margin-left:10%;
	margin-right:10%;
	margin-top:-3%;
}

.lefttext{
	margin-left:10%;
}

.leftindenttext{
	margin-left:7%;
}





#CVpicture{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	width:60%;

}



